.navbar {
    height: 80px; 
    display: flex;
    align-items: center; 
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .navbar-logo {
    height: 300px; 
    width: auto;  
  }
  a{
    color: #325343 !important;
  }
.image{
  margin-right: 20%;
}