.text-success{
    color: #325343 !important;
}
.btn-success{
    background-color: #325343 !important;
}
.aboutus-img{
height: 70vh;
width: auto;
}
input.form-control:focus,
textarea.form-control:focus {
    border-color: #325343 !important;
    box-shadow: 0 0 5px rgba(50, 83, 67, 0.5) !important;
    outline: none !important;
}

